/* Toss.css */

.toss-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    max-width: 800px;
    min-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: larger;
}

.team-selection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.team {
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    flex: 1;
    margin: 0 0.5rem;
    text-align: center;
}

.team:hover,
.tossWinner {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.options-container {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.options {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.option {
    padding: 0.5rem;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s, transform 0.3s;
}

.option img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.option.selectedOption {
    border-color: #007bff;
    transform: scale(1.05);
}

.start-button-container {
    width: 100%;
    text-align: center;
}

.start-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.start-button:hover:enabled {
    background-color: #0056b3;
}


/* Responsive styling */

@media (max-width: 768px) {
    .toss-container {
        max-width: 400px;
        min-width: 400px;
    }
    .options {
        flex-direction: column;
        gap: 10px;
    }
    .option {
        flex-direction: column;
        margin-bottom: 1rem;
        margin: 0 auto;
        width: 70%;
    }
    .option img {
        height: auto;
    }
}