.interval-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-width: 500px;
    font-size: large;
}

.interval-card {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.interval-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.interval-body {
    padding: 15px 20px;
}

.interval-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.interval-row h6 {
    margin: 0;
    font-weight: 600;
}

.interval-row p {
    margin: 0;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.interval-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.interval-button:hover {
    background-color: #218838;
}