.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
}

.result-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    animation: slideIn 0.5s ease-out;
}

.result-header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
}

.result-body {
    padding: 20px;
}

.result-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    animation: fadeIn 1s ease-out;
}

.result-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.result-button:hover {
    background-color: #45a049;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Media Queries for Mobile */

@media (max-width: 767px) {
    .result-row {
        flex-direction: column;
        align-items: flex-start;
    }
    .result-card {
        width: 95%;
    }
    .result-button {
        width: 100%;
        text-align: center;
    }
}